<main class="container">
  <div class="container">
    <table class="table mt-5" *ngIf="!loading">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index;">
          <th scope="row">{{i+1}}</th>
          <td>{{usuario.name}}</td>
          <td>{{usuario.age}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
